---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import ContentTitle from '../components/typography/ContentTitle.astro';
import ContentBody from '../components/typography/ContentBody.astro';
import ContentParagraph from '../components/typography/ContentParagraph.astro';
import Hero from '../components/Hero.astro';

const experienceCollection = await getCollection('experience');
const allExperiences = experienceCollection.sort((a, b) =>
  a.data.yearStart < b.data.yearStart ? 1 : -1,
);

const wrapperClass = 'my-8';
---

<Layout title='Home' pageName='home'>
  <Hero />
  <div
    class='max-w-[540px] sm:max-w-[604px] md:max-w-[720px] lg:max-w-[972px] xl:max-w-full xl:px-12 2xl:max-w-[1400px] mx-auto'
  >
    <div class={wrapperClass}>
      <div class='mx-auto max-w-7xl px-6 lg:px-8'>
        <ContentTitle>Experience</ContentTitle>
        <ContentBody>
          <ul role='list'>
            {
              allExperiences.map((exp) => (
                <li class='flex justify-between gap-x-6'>
                  <ContentParagraph>
                    {exp.data.company}
                    {', '}
                    {exp.data.yearStart}
                    {' - '}
                    {exp.data.now ? 'now' : exp.data.yearEnd}
                    {', '}
                    {exp.data.position}
                  </ContentParagraph>
                </li>
              ))
            }
          </ul>
        </ContentBody>
      </div>
    </div>
    <div class={wrapperClass}>
      <div class='mx-auto max-w-7xl px-6 lg:px-8'>
        <ContentTitle>Technical expertise</ContentTitle>
        <ContentBody>
          <ContentParagraph>
            JavaScript, Typescript, React, Redux, Astro, Remix, Domvm, Backbone,
            jQuery
          </ContentParagraph>
          <ContentParagraph>
            HTML, CSS, Pre-Processors, Semantic Markup, Responsive Design
          </ContentParagraph>
          <ContentParagraph>
            Rollup, Vite, Webpack, Gulp, Grunt
          </ContentParagraph>
          <ContentParagraph>ThreeJS, Graphics 2D</ContentParagraph>
          <ContentParagraph>
            Node, Koa, Express, CouchDB, Mongo, My/MS Sql
          </ContentParagraph>
          <ContentParagraph>
            Hybris, AEM, Sitecore, Prismic, ATG, DotNetNuke
          </ContentParagraph>
          <ContentParagraph>AB Testing</ContentParagraph>
        </ContentBody>
      </div>
    </div>
    <div class={wrapperClass}>
      <div class='mx-auto max-w-7xl px-6 lg:px-8'>
        <ContentTitle>Languages</ContentTitle>
        <ContentBody>
          <ContentParagraph>English: B2 (Intermediate)</ContentParagraph>
          <ContentParagraph>Russian, Ukrainian: native</ContentParagraph>
          <ContentParagraph>Polish: A1 (beginner)</ContentParagraph>
        </ContentBody>
      </div>
    </div>
  </div>
</Layout>
