---
import type { CaseStudyStatsProps as Props } from '../types/types';

const { className = '', stats, size } = Astro.props;

const sizes = {
  small: 'mt-2 justify-flex-between text-center',
  large: 'flex-wrap justify-end sm:px-20 px-0 mt-4',
}[size];

const paddingSizes = {
  small: 'pt-2',
  large: 'pt-4',
}[size];

const textSizes = {
  small: 'text-sm',
  large: 'text-xl',
}[size];
---

<dl class=`flex ${className} ${sizes}`>
  {
    stats.map(
      ([key, value]) =>
        value != null &&
        value !== '' && (
          <div
            class={`${paddingSizes} flex flex-col items-center justify-start px-2 flex-1 sm:basis-auto basis-1/2`}
          >
            <dt class='mb-2 text-gray-300'>{key}</dt>
            <dd class={`${textSizes} font-extrabold text-slate-200`}>
              {value}
            </dd>
          </div>
        ),
    )
  }
</dl>
